<html>
   
   <head>
      <title>LogicBaker!</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   
   <body>
      <h2>Arithmetic LogicBaker Testing app</h2>
      
      <div ng-app = "calcui" ng-controller = "calc1">
      <input type="number" ng-model="addnum1"/>+
      <input type="number" ng-model="addnum2"/>
      <button ng-click="add()">Resut</button>
      <input type="number" ng-model="addresult"/> 
      <br>
      
      
      <input type="number" ng-model="subnum1"/>-
      <input type="number" ng-model="subnum2"/>
      <button ng-click="sub()">Resut</button>
      <input type="number" ng-model="subresult"/> 
      <br>
      
        <input type="number" ng-model="mulnum1"/>*
      <input type="number" ng-model="mulnum2"/>
      <button ng-click="mul()">Resut</button>
      <input type="number" ng-model="mulresult"/> 
      <br>
      
      <input type="number" ng-model="divnum1"/>/
      <input type="number" ng-model="divnum2"/>
      <button ng-click="div()">Resut</button>
      <input type="number" ng-model="divresult"/> 
      <br>
     
      
      
      
<!--           <input type="number" placeholder="number 1" ng-model="add1" ng-change="change()">
       +
     <input type="number" placeholder="number 2" ng-model="add2" ng-change="change()">
              =
       <input type="number" placeholder="result" readonly ng-model="ans1">
          <br><br>
            <input type="number" placeholder="number 1" ng-model="sub1" >
      -
     <input type="number" placeholder="number 2" ng-model="sub2" >
              =
       <input type="number" placeholder="result" readonly ng-model="ans2">
          <br><br>
            <input type="number" placeholder="number 1" ng-model="mul1" >
      *
     <input type="number" placeholder="number 2" ng-model="mul22" >
              =
       <input type="number" placeholder="result" readonly ng-model="ans3">
          <br><br>
            <input type="number" placeholder="number 1" ng-model="div1" >
      /
     <input type="number" placeholder="number 2" ng-model="div2" >
              =
       <input type="number" placeholder="result" readonly ng-model="ans4">
          <br><br>-->
      </div>
      
      <script>
   var app=angular.module("calcui",[]); // this is for testing only
       app.controller('calc1',function($scope,$http){
        $scope.change=function(){
           $scope.ans1=$scope.add1+$scope.add2
       } 
       $scope.add=function(){
       $http({
    	   method: 'GET',
    	   url: "http://35.154.108.194:8081/logicbaker/add/"+$scope.addnum1+"/"+$scope.addnum2
    	 }).then(function successCallback(response) {
    	     //alert(respose);
    	     $scope.addresult=response.data;
    	   }, function errorCallback(response) {
    	     // called asynchronously if an error occurs
    	     // or server returns response with an error status.
    	   });
       }
       
       
          $scope.sub=function(){
       $http({
    	   method: 'GET',
    	   url: "http://35.154.108.194:8081/logicbaker/sub/"+$scope.subnum1+"/"+$scope.subnum2
    	 }).then(function successCallback(response) {
    	     //alert(respose);
    	     $scope.subresult=response.data;
    	   }, function errorCallback(response) {
    	     // called asynchronously if an error occurs
    	     // or server returns response with an error status.
    	   });
       }
       
       $scope.mul=function(){
       $http({
    	   method: 'GET',
    	   url: "http://35.154.108.194:8081/logicbaker/mul/"+$scope.mulnum1+"/"+$scope.mulnum2
    	 }).then(function successCallback(response) {
    	     //alert(respose);
    	     $scope.mulresult=response.data;
    	   }, function errorCallback(response) {
    	     // called asynchronously if an error occurs
    	     // or server returns response with an error status.
    	   });
       }
       
       $scope.div=function(){
       $http({
    	   method: 'GET',
    	   url: "http://35.154.108.194:8081/logicbaker/div/"+$scope.divnum1+"/"+$scope.divnum2
    	 }).then(function successCallback(response) {
    	     //alert(respose);
    	     $scope.divresult=response.data;
    	   }, function errorCallback(response) {
    	     // called asynchronously if an error occurs
    	     // or server returns response with an error status.
    	   });
       }
           
       })
    </script>
      
   </body>
</html>
